*
  box-sizing border-box

::selection
  background #000
  color #fff
  text-shadow none
::-moz-selection
  background #000
  color #fff
  text-shadow none

a
  color inherit

html, body
  height 100%

body
  min-height 400px
  font-family Ratio, sans-serif
  color #000
  transition color .25s, background .25s
  &.color
    color #fff
    #logo
      svg path
        fill #fff
  &.logo
    background #f79264
  &.name
    background #5bcbf1
  &.github
    background #333
  &.instagram
    background #3f729b
  &.twitter
    background #55acee
  &.facebook
    background #3b5998
  &.email
    background #db4437

.container
  width 100%
  padding 20px
  text-align center

#logo
  absolute top 10% left 50%
  svg
    size 65px
    margin-left (-@width / 2)
    path
      transition fill .25s

#name
  absolute top 50% left
  width 100%
  text-align center
  font-size 45px
  line-height 1
  margin-top (-@font-size / 2)

#links
  absolute bottom 10% left 5%
  width 90%
  .icon
    display inline-block
    width 20%
    font-size 30px
    &.icon-send
      transform scale(.85)

@media screen and (min-width: 550px)
  .container
    min-height 600px
    text-align left
    position relative
    size 100%
    width 60%
    margin 0 auto

  #logo
    absolute top 15% left
    svg
      size 80px
      margin-left 0

  #name
    width auto
    text-align left
    font-size 50px
    margin-top (-@font-size / 2)

  #links
    absolute bottom 15% left
    .icon
      width 60px

@media screen and (min-width: 1000px)
  #name
    font-size 80px
    margin-top (-@font-size / 2)

  #links
    .icon
      width 80px
