@font-face {
	font-family: 'scoticon';
	src:url('fonts/scoticon.eot?kopq2q');
	src:url('fonts/scoticon.eot?#iefixkopq2q') format('embedded-opentype'),
		url('fonts/scoticon.ttf?kopq2q') format('truetype'),
		url('fonts/scoticon.woff?kopq2q') format('woff'),
		url('fonts/scoticon.svg?kopq2q#scoticon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'scoticon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-500px:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\f082";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-github:before {
	content: "\f09b";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-send:before {
	content: "\f1d8";
}
