doctype html
html
  head
    title Static Website Boilerplate

    meta(name='description' content='A stating point for building a static website in Jade, Stylus and CoffeeScript.')
    meta(charset='utf-8')

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')

    link(rel='stylesheet' href='/styles/index.css')

  body

    h1 Static Website Boilerplate
    p
      i Have fun building websites!
      span.icon-cool

    script(src='/scripts/vendor.js')
    script(src='/scripts/index.js')
