doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Scott Cheng

    meta(name='description' content='Scott Cheng. Maker.')
    link(rel='shortcut icon' href='/favicon.png')

    link(rel='stylesheet' href='/styles/index.css')

    script(src='//use.typekit.net/kjw5iae.js')
    script try{Typekit.load();}catch(e){}

  body

    .container
      #logo
        include logo

      #name Scott Cheng

      #links
        a(href='https://github.com/scottcheng'): .icon.icon-github
        //- .icon.icon-dribbble
        a(href='http://instagram.com/scottcheng'): .icon.icon-instagram
        a(href='https://twitter.com/scottcheng'): .icon.icon-twitter
        a(href='https://www.facebook.com/sctcheng'): .icon.icon-facebook
        a(href='mailto:aloha@scottcheng.com'): .icon.icon-send

    //- script(src='/scripts/vendor.js')
    //- script(src='/scripts/index.js')
