svg(version='1.1' viewBox='0 0 512 512')
  path(d='M173.006,428.384V416.6c88.395,0,160.311-71.914,160.311-160.31h11.784C345.101,351.183,267.899,428.384,173.006,428.384z')
  path(d='M173.458,263.02H6.805c-3.254,0-5.893-2.639-5.893-5.893c0-94.893,77.22-172.095,172.137-172.095v11.785c-86.443,0-157.131,68.744-160.245,154.418h160.654V263.02z')
  path(d='M339.574,428.384c-94.893,0-172.094-77.201-172.094-172.094c0-94.893,77.202-172.095,172.094-172.095v11.784c-88.396,0-160.31,71.915-160.31,160.311s71.915,160.31,160.31,160.31s160.31-71.914,160.31-160.31h11.784C511.668,351.183,434.467,428.384,339.574,428.384z')
